html {
  font-family     : "Helvetica";
  text-align      : justify;
}

ul {
  text-align      : left;
}

.imgButton {
  max-width       : 45px;
  max-height      : 45px;
}

.imgCV {
  max-height      : 150px;
  max-width       : 150px;
}

.textColor {
  font-size       : 10px;
  color           : grey;
}

.titleCV {
  font-size       : 25px;
  text-decoration : underline;
}

.title2CV {
  font-size       : 25px;
}

.titleCateg {
  font-size       : 15px;
  text-decoration : underline;
}

#total{

  text-align: right;

}

#commander{

  position: absolute;
  margin-left: 280px;

}

#ImgPerso{

  max-height: 80px;
  max-width: 80px;


}
.fond{

  
  background-color: rgba(203,208,211,0.6);
  box-shadow: -2px 1px 4px 12px rgba(203,208,211,0.5);

  
}